[submodule "library/borealis"]
	path = library/borealis
	url = https://github.com/xfangfang/borealis.git
[submodule "library/QR-Code-generator"]
	path = library/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "library/pystring"]
	path = library/pystring
	url = https://github.com/imageworks/pystring.git
[submodule "library/OpenCC"]
	path = library/OpenCC
	url = https://github.com/xfangfang/OpenCC.git
[submodule "library/lunasvg"]
	path = library/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "library/cpr"]
	path = library/cpr
	url = https://github.com/xfangfang/cpr.git
[submodule "library/mongoose"]
	path = library/mongoose
	url = https://github.com/xfangfang/mongoose.git
[submodule "library/libpdr"]
	path = library/libpdr
	url = https://github.com/xfangfang/libpdr.git
[submodule "library/MemoryModule"]
	path = library/MemoryModule
	url = https://github.com/fancycode/MemoryModule.git
