Section: video
Priority: optional
Maintainer: xfangfang <xfangfang@126.com>
Version: 1.5.0-1
Homepage: https://xfangfang.github.io/wiliwili/
Vcs-Git: https://github.com/xfangfang/wiliwili.git
Package: wiliwili
Architecture: arm64
Depends: libass9,
         libdbus-1-3,
         libx11-6,
         libv4l-0,
         libpulse0,
         libuchardet0,
         libwebp6,
         libssl1.1,
         nvidia-l4t-core
Description: A third-party Bilibili client designed specifically for controller users
